<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <header>
       <h2>
            Header section
       </h2>
    </header>
      <main>
        @RenderBody()
      </main>
      <footer>
          <h2>
              Footer section
          </h2>
      </footer>
</body>
</html>
